.root {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.title {
    text-transform: uppercase;
    font-size: 12px;
}

.balance {
    color: var(--primary_color);
    font-size: 20px;
    text-align: end;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 5px solid #232c3b;
  }
  
  .header-container h1 {
    font-size: 2.2rem;
    font-weight: 300;
  }
  